$textcolor: #303030;
$textcolor1: #404040;
$vrwhite: #FFFFFF;
$blue: #273895;
$blue1: #2741D0;
$black: #000000;
$black1: #262626;
$btnhover: #06135e;
$allback: #E5E5E5;
$skreen: #34449C;
$lightgray: #C9C9C9;
$bordercolor: #737373;
